.filter-bar {
  background-color: #e6e6e6;
  padding: 10px;
  width: 400px;
  height: calc(100vh - 20px); 
  position: fixed; /* This will make it stay in place when scrolling */
}



.filter-bar label {
  margin-right: 10px;
  /* Add your styles for the label */
}

.filter-bar button {
  margin-left: 10px;
  /* Add your styles for the button */
}